<script lang="ts" type="text/tsx">
  import router                 from "rlite-router";
  import { SvelteComponentDev } from "svelte/internal";

  import { Page, Pages } from "./types";

  export let PAGE_404: Page;
  export let PAGES: Pages;
  export let checkActive: (list: (string | SvelteComponentDev)[]) => boolean;

  let ActiveComponent: new (options: any) => SvelteComponentDev;
  let activeProps: any;

  const applyRouting = router(PAGE_404!, PAGES!);

  exec();

  function exec() {
    const result = applyRouting(`${ window.location.pathname }${ window.location.search }`);
    ActiveComponent = result.component;
    activeProps = result.props;
    checkActive = _checkActive; // update bindings
  }

  function _checkActive(list: (string | SvelteComponentDev)[]): boolean {
    return list.some(
      item => (typeof item === "string" ? applyRouting(item).component : item) === ActiveComponent,
    );
  }
</script>

<svelte:window on:popstate={exec} />

<div class="router-outlet" on:navigate={exec}>
  <slot />
  <svelte:component this={ActiveComponent} {...activeProps} />
</div>
