<script lang="ts" type="text/tsx">
  import { CheckActive } from "modules/routing/types";

  import { Landing } from "modules/landing";
  import { Router }  from "modules/routing";

  import { PAGES, PAGE_404 } from "./app.routes";

  let checkActive: CheckActive = () => false;
</script>

<style type="text/scss">
  div {
    > h1 {
      color: purple;
    }
  }
</style>

<Router {PAGES} {PAGE_404} bind:checkActive={checkActive}>
  <div><h1>Hello World!</h1></div>
  {#if checkActive([Landing])}
    documents active
  {/if}
</Router>
